.container{
    display: grid;
    grid-template-columns: 410px 420px;
    grid-template-rows: 150px 200px;
    width: 420px;
    height: 200px;
}


.container2{
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-rows: 110px 100px;
}


body{
    background-color: black;
}


.white{
    background-color: white;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}


.red{
    background-color: red;
    width: 110px;
    height: 120px;
}


.yellow{
    background-color: yellow;
}


.gotposter{
    width: 420px;
    height: 150px;
}


.gotposter2{
    width: 330px;
    height: 450px;
}

.danyfunko{
    width: 120px;
    height: 130px;
}


.funkoTyrion{
    width: 120px;
    height: 130px;
}


.funkoArya{
    width: 120px;
    height: 130px;
}


.briennefunko{
    width: 120px;
    height: 130px;
}



