.container1{
    display: grid;
    grid-template-columns: 420px 420px;
    grid-template-rows: 150px 5px;
    gap: 40px
    ;
}


.container2{
    display: grid;
    grid-template-columns: 150px 260px;
    grid-template-rows: 160px 20px;
    gap: 40px;
    place-items: center;
}


.container3{
    display: grid;
    width: 120px;
    height: 130px;
}

.container4{
    display: grid;
    width: 120px;
    height: 130px;
   
}


body{
    background-color: gray;
}


.white{
    background-color: bisque;
    font-size: 35px;
    font-family: monospace;
    text-align: center;
    justify-content: center;
}


.gotposter{
    width: 420px;
    height: 150px;
    display: grid;
    grid-template-columns: 420px 150px; 
    grid-template-rows: 420px 150px; 
}


.gotPoster2{
    display: grid;
    grid-column: 140px 340px;
    width: 335px;
    height: 450px;
}



.danyFunko{
    display: grid;
    gap: 40px;
    width: 120px;
    height: 130px;
}


.funkoTyrion{
    display: grid;
    width: 120px;
    height: 130px;
}


.funkoArya{
    width: 120px;
    height: 130px;
}


.brienneFunko{
    width: 120px;
    height: 130px;
}


.posterHouseOfTheDragon{
    width: 340px;
    height: 190px;
}


.nyraFanart{
    width: 120px;
    height: 130px;
}


.syrax{
    width: 120px;
    height: 130px;
}