.container1{
    display: grid;
    grid-template-columns: 420px 420px;
    grid-template-rows: 150px 5px;
    gap: 40px;
}


.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   
}


.container3{
    display: grid;
    width: 120px;
    height: 130px;
}


body{
    background-color: gray;
}


.white{
    background-color: bisque;
    font-size: 35px;
    font-family: monospace;
    text-align: center;
}


.gotposter{
    width: 420px;
    height: 150px;
    display: grid;
    grid-template-columns: 420px 150px; 
    grid-template-rows: 420px 150px; 
}


.gotPoster2{
    width: 330px;
    height: 440px;
    grid-column: 3;
    grid-row: 1;
}



.danyFunko{
    width: 120px;
    height: 130px;
    grid-column: 2;
    grid-row: 1;
}


.funkoTyrion{
    grid-column: 1;
    grid-row: 1;
    width: 120px;
    height: 130px;
}


.funkoArya{
    
    grid-row: 1;
    width: 120px;
    height: 130px;
}


.brienneFunko{
    grid-column: 4;
    grid-row: 1;
    width: 120px;
    height: 130px;
}


.posterHouseOfTheDragon{
    width: 333px;
    height: 190px;
    grid-column: 1;
    grid-row: 2/2;

}


.nyraFanart{
    grid-column: 7;
    grid-row: 6 ;
    width: 120px;
    height: 130px;
}


.syrax{
    width: 120px;
    height: 130px;
}